body{
    font-family: 'Nunito', sans-serif;
background-color:#ffffff;
font-weight: 400;
margin: 0;
}
.flex-row{
    display: flex;
    flex-direction: row;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.w-80{
    width: 80%;
    margin:0 auto;
}
.j-btw{
    justify-content: space-between;
}
.j-evenly{
    justify-content: space-evenly;
}
.j-around{
    justify-content: space-around;
}
.align-center{
    align-items: center;
}
nav{
    border-bottom:1px solid #000000;
    padding-bottom: 26px;
    padding-top:30px;    
    background-color: #E8F5E2;
}
nav ul{
    width:80%;
    margin:0 auto;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    padding: 0;

}
nav ul li{
    font-size: 18px;
    line-height: 24.55px;
    font-weight: 500;
}
nav .pull{
margin-right:auto;
}
nav .push{
margin-left: auto;
}
nav .push button{
    display: flex;
    font-size: 18px;
    line-height: 24.55px;
    font-weight: 400;
    padding:4.5px 20px;
    gap:10px;
    justify-content: center;
    align-items: center;
    background-color: #c6dbbd;
    border: 1px solid #000000;
    border-radius: 3px;
}

.cover{
    width: 100%;
    background-color: #E8F5E2;
}
.cover__content{
    display: flex;
    width: 80%;
    justify-content: space-around;
    margin: auto;
}
.half-1{
    margin-right: 70px;
    margin-top: 52px; 
    display: flex;
    flex-direction: row-reverse;
    padding: 0;
    position: relative;
}
.half-1 h1{
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 61px;
    padding-top: 38px;
    color: #000000;
    max-width: 503px;
}

.half-1 p{
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color:#000000;
    }
.stars{
}

.people{
    gap:77px;
}
.vl{    
    border-left: #000000 1px solid;
    height: 500px;
    }
.half-2{
    margin-left: 146px;
    margin-top:67px;
    max-width: 310px;
    display: flex;
    flex-direction: column;
    gap:16px;

    }
.half-2__steps{
        max-width: 310px;
        display: flex;
        flex-direction: column;
        gap:16px;
    
        }
.numbers{
    background-color: #000000;
    padding: 5px 10px;
    border-radius: 50%;
    color:#ffffff;
    margin-right: 19px;
}
.half-2 button{
font-weight: 700;
font-size: 18px;
line-height: 25px;
font-family: 'Nunito', sans-serif;
display:flex;
align-items: center;
background:#9bc588;
border:2px solid #000000;
box-shadow: 4px 4px 0px #000000;
border-radius: 3px;
gap:10px;
padding: 10px 20px;
max-width: 203px;
min-width: 190px;
height: 45px;
}
.half-2 button p{
    display: inline-block;
    width: 150px;
}
.main{
    height:1100px;
    width:100%;
    background-color: #ffffff;
}
.logo-strip__background{
    background:#000000 no-repeat center center;
    height: 380px;
    background-size:cover;
    width:100%;
    padding-top: 56px;
}
.logo-strip__content{
    width:80%;
    margin: auto;
    padding-top:53.6px;
    justify-content: space-between;
    align-items: center;
    color:#ffffff;
}
/*
.product{
    margin-top:169px;
    gap:55px; 
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    padding-bottom: 64px;
    transform: translate(0,-380px);
    
}
*/
.product{
    display:grid;
    grid-template-areas: 
    'brogan brogan bleu beats'
    'diamond shades shades macbook '
    ;
    width: 80%;
    margin: auto;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    padding-bottom: 64px;
    gap:35px;
    transform: translate(0,-190px);
}

.title{
    padding-left: 24px;
}
.price{
    background-color: #000000;
    color:#ffffff;
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    height:63px;
    width: 85px;
    padding-bottom: 5px;
    position: absolute;
    right: 0;
}
.product__row1{
    width: 80%;
    justify-content: space-between;
}
.product__row2{
    gap:34px;
    
    width: 80%;
    justify-content: space-between;
}
.product__card{
    border: 2px solid #000000;
    box-shadow: 4px 4px 0px #000000;
    border-radius: 9px;
    max-height: 303px;
    background-color: #ffffff;
    position: relative;
}
.product__card-brogan{
    grid-area: brogan;
    border: 2px solid #000000;
    box-shadow: 4px 4px 0px #000000;
    border-radius: 9px;
    position: relative;
    max-height: 303px;
    max-width:430px ;
    background-color: #ffffff;
}
.product__card-brogan img{
    width:430px;
    max-height: 240px;
}
.product__card-brogan .title{
    width: 345px;
    height:63px;
}
.product__card-brogan .title p{
    padding-left: 24px;
}
.product__card-brogan .price{
    width: 85px;
    padding-bottom: 5px;
    position: absolute;
    right: 0;
}

.product__card-bleu{
    grid-area: bleu;
    border: 2px solid #000000;
    box-shadow: 4px 4px 0px #000000;
    border-radius: 9px;
    max-height: 303px;
    width: 360px;
    background-color: #ffffff;
    position: relative;
}
.product__card-bleu .title{
    width: 345px;
    height:63px;
}
.product__card-bleu .title p{
    padding-left: 24px;
}
.product__card-bleu .price{
    
    position: absolute;
    width: 85px;
    padding-bottom: 5px;
    bottom: 0;
    right: 0;
}
.product__card-bleu img{
    width:360px;
    max-height: 240px;
}

.product__card-beats {    
    grid-area: beats;    
    position: relative;
    border: 2px solid #000000;
    box-shadow: 4px 4px 0px #000000;
    border-radius: 9px;
    max-height: 303px;
    width: 342px;
    background-color: #ffffff;
    position: relative;
}
.product__card-beats img{
    width:342px;
    max-height: 240px;
}
.product__card-beats .title{
    width: 345px;
    height:63px;
}
.product__card-beats .price{
    
    position: absolute;
    width: 85px;
    padding-bottom: 5px;
    bottom: 0;
    right: 0;
}
.product__card-diamond { 
    grid-area: diamond;   
    position: relative;
    border: 2px solid #000000;
    box-shadow: 4px 4px 0px #000000;
    border-radius: 9px;
    max-height: 303px;
    width: 313px;
    background-color: #ffffff;
    position: relative;
}

.product__card-diamond img{
    width:313px;
    max-height: 240px;
}
.product__card-diamond .title{
    width: 345px;
    height:63px;
}
.product__card-diamond .price{
    width: 85px;
    padding-bottom: 5px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.product__card-shades{
    grid-area: shades;
    border: 2px solid #000000;
    box-shadow: 4px 4px 0px #000000;
    border-radius: 9px;
    position: relative;
    max-height: 303px;
    width:477px ;
    background-color: #ffffff;
}
.product__card-shades img{
    width:477px;
    max-height: 240px;
}
.product__card-shades .title{
    width: 345px;
    height:63px;
}
.product__card-shades .title p{
    padding-left: 24px;
}
.product__card-shades .price{
    width: 85px;
    padding-bottom: 5px;
    position: absolute;
    right: 0;
}

.product__card-mac {   
    grid-area:macbook; 
    position: relative;
    border: 2px solid #000000;
    box-shadow: 4px 4px 0px #000000;
    border-radius: 9px;
    max-height: 303px;
    width: 342px;
    background-color: #ffffff;
    position: relative;
}

.product__card-mac img{
    width:342px;
    max-height: 240px;
}
.product__card-mac .title{
    width: 345px;
    height:63px;
}
.product__card-mac .price{
    width: 85px;
    padding-bottom: 5px;
    position: absolute;
    right: 0;
    bottom: 0;
}
.visibility{
    display: flex;
    font-family: 'Nunito';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
/* identical to box height */
gap: 16px;
width: 80%;
margin: auto;
text-decoration-line: underline;


}
footer{
    margin-top: 64px;
    padding-bottom:76px;
    background-color: #E8F5E2;
    border-top:#000000 solid 1px;
    padding-top: 48px;
    
}
.footer__content{
    width:80%;
    margin: auto;
    justify-content: space-between;
    display: flex;
}

.col-1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:74px;
}
.social{
    display: flex;
    gap:25px;
}
.col-2{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.col-2 ul{
    list-style: none;
    display: flex;
    gap: 35px;
}
.col-2 p{
    font-family: 'Nunito';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 19px;
/* identical to box height */


color: #6C7667;
}
.test{
    color:red;
    position: relative;
    top:0;
}

/* Tablet/ipad Screen */

@media screen and (max-width: 1024px){

    nav{

    }
    .cover{
        padding-bottom: 45px;
    }
    .cover__content{
        flex-direction: column;
        flex-wrap: wrap;
    }
    .half-1{
        display: flex;
        flex-direction: row-reverse;
    }
    .half-1 h1{ 
    min-width: 693px;
    padding-right: 5px;
    }
    .stars{
        position: static;
        right:9em;
        top:2rem;
    }
    .vl{
        display: none;
    }
    
    .half-2{
    margin-top:67px;
    max-width: 100%;
    margin-left: 0;
    }
    .half-2__steps{
        margin-top:67px;
        max-width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
        }
    .half-2__steps .flex-row{
        flex-direction: column;
        align-items: flex-start;
        }
        .half-2 button{
            max-width: 13em;
            height: 45px;
        }
        .logo-strip__content{
          width: 80%;
        }
        .logo-strip__content .flex-row{
            display: none;
        }
        .product{
            display:grid;
            grid-template-columns: auto;
            grid-template-areas: 
            'brogan bleu'
            'beats shades'
            'diamond macbook '
            ;
            width: 80%;
            margin: auto;
            font-style: normal;
            font-weight: 700;
            font-size: 22px;
            line-height: 30px;
            padding-bottom: 64px;
            gap:20px;
            transform: translate(0,-190px);
        }
        .product> section''{
        }
        .product__row1{
            display: grid;
            grid-template-rows:repeat(auto-fill,minmax);
        }
}
    
